* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.carta {
    max-width: 200px;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #e5e5e5;

}

.tipos-pokemon {
    display: flex;
    gap: 8px;
    
    span {
        background-color: #aaa;
        border-radius: 24px;
        font-size: 12px;
        font-weight: 500;
        padding: 4px 8px;
    }
}